html,
body,
ul,
h1 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: #EFEFEF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 15px;
}

header {
    background-color: #FAFAFA;
    border-radius: 5px;
    box-shadow: 0 5px 5px #EAEAEA;
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px 10px;
}

header h1 {
    background: url(icons/comentario.svg) no-repeat 0 center;
    background-size: 1em 1em;
    color: #555;
    font-size: 1.5em;
    padding-left: 1.1em;
}

header nav {
    align-items: center;
    display: flex;
    justify-content: end;
}

header ul {
    display: flex;
}

header ul a {
    text-indent: -100vw;
}

header ul a,
#menu ul a {
    display: inline-block;
    padding: 0 5px;
    width: 1em;
}

#menu ul a {
    color: #333;
    padding: 10px 0 10px 25px;
    text-decoration: none;
}

#support {
    background: url("icons/auriculares.svg") no-repeat center center;
    background-size: 1em 1em;
}

#user {
    background: url("icons/usuario.svg") no-repeat center center;
    background-size: 1em 1em;
}

#mobil-menu {    
    background: url("icons/menu-hamburguesa.svg") no-repeat center center;
    background-size: 1em 1em;
}

main {
    display: flex;
    margin-top: 20px;
}

#menu.hide {
    display: none;
}

main nav {
    background-color: #F1F1F1;
    bottom: 0;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

#close {
    text-align: right;
}

#close a {
    margin-right: 50px;
}

#dashboard {
    background: url("icons/grafico-histograma.svg") no-repeat 0 center;
    background-size: 1em 1em;
}

#earned {
    background: url("icons/dolar.svg") no-repeat 0 center;
    background-size: 1em 1em;
}

#kpis {
    background: url("icons/ajustes-deslizadores.svg") no-repeat 0 center;
    background-size: 1em 1em;
}

#settings {
    background: url("icons/ajustes.svg") no-repeat 0 center;
    background-size: 1em 1em;
}

article {
    flex-grow: 1;
    max-width: 100%;
}

#kpi ul {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

#kpi li {
    display: grid;
    grid-template-rows: auto auto;
    text-align: right;
}

#kpi strong {
    font-size: 1em;
}

#kpi em {
    font-size: 0.5em;
}

#graph {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#table {
    margin-top: 20px;
}

#table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#table th,
#table td {
    border: 1px solid #333;
    font-size: 0.7em;
    padding: 5px 2px;
}

#table td:nth-child(5) {
    text-align: center;
}

#table td:nth-child(6) {
    text-align: right;
}